/******w*************
    
    Project 2 Stylesheet
    Name: Karanvir Singh Brar
    Date: 2022-04-21
    Description: CSS file for project 3

********************/

:root
{
    --blue: #2b6777;
    --white: #ffffff;
    --green: #52ab98;
    --gray: #f2f2f2;
    --lightBlue: #c8d8e4;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

.pageTitle
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.3em;
    box-shadow: 0 2px 9px -2px rgba(0, 0, 0, .2);
}


#header h2
{
    color: var(--blue);
    font-size: 3em;
    display: inline-block;
    margin-left: 1em;
}

#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4em;
}

#navbar a
{
    text-decoration: none;
    color: var(--white);
    font-size: 1.2em;
    padding: 0.5em;
    margin-left:1em;
    font-weight: bold;
    background-color: var(--green);
    border-radius: 1em;
    width: 7em;
    text-align: center;
}

#navbar a:hover
{
    color: var(--green);
    background-color: var(--white);
}

#main
{
    display: flex;
}

#text-area
{
    width: 50%;
    background-color: var(--blue);
    height: 90.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5em 0 3em;
}

#communication
{
    width: 50%;
    background-color: var(--lightBlue);
    height: 90.5vh;
    overflow: hidden;
}

#text-area h4
{
    color: var(--white);
    font-size: 3em;
}

#text-area p
{
    color: var(--white);
    font-size: 1.5em;
}

#communication p
{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
    display: none;
}


#mobile-img
{
    display: none;
}

#footer
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: var(--gray);
    color: var(--blue);
    height: 6em;
}

#footer a
{
    color: var(--blue);
    text-decoration: none;
    padding: 0.7em;
}

#footer a:hover
{
    text-decoration: underline;
}

#github a
{
    text-decoration: underline;
}

#form-area
{
    height: fit-content;
    background-color: var(--lightBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4em 0 3em 0;
}

#register-form
{
    width: 37%;
}

#register-form fieldset
{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2em;
    height: 4em;
}

#register-form label
{
    color: var(--blue);
    font-size: 1.2em;
}

#register-form input
{
    background-color: var(--lightBlue);
    border: none;
    border-bottom: 2px solid var(--blue);
    outline: none;
    color: var(--blue);
    font-size: 1em;
}

#comments
{
    height: 13em !important;
}

#comments label{
    margin-bottom: 0.5em;
}

#discover
{
    background-color: var(--lightBlue);
    border: 2px solid var(--blue);
    color: var(--blue);
    outline: none;
    font-size: 1em;
    padding: 0.5em;
}

#buttons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#buttons button
{
    color: var(--white);
    font-size: 1.2em;
    padding: 0.5em;
    font-weight: bold;
    background-color: var(--green);
    border-radius: 1em;
    width: 7em;
    text-align: center;
    border: none;
    margin-left: 1em;
    cursor:pointer;
}

#buttons button:hover
{
    background-color: var(--white);
    color: var(--green);
}

#title
{
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

#title h2
{
    color: var(--white);
    margin-top: 0.4em;
    margin-right: 1.7em;
    font-size: 2.5em;
}

#tier-area
{
    display: flex;
    height: fit-content;
    width: 100%;
    background-color: var(--blue);
    justify-content: center;
    align-items: center;
    padding: 2.4em 0;
}

#cards
{
    display: flex;
}

.tier-card
{
    width: 22vw;
    height: 60vh;
    background-color: var(--white);
    margin-right: 4em;
    border-radius: 2em;
    color:var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition-property: height;
}

.tier-card h2
{
    margin-bottom: 2em;
}

.tier-card img
{
    max-width: 8em;
    max-height: 5em;
    opacity: 0.9;
}

#regular
{
    margin-bottom: 2em;
}

#regular-img
{
    margin-bottom: 0.5em;
    height: 4em;
    max-width: 10em;
    margin-right: 1em;
}


.feature-list
{
    margin-bottom: 2em;
}

.feature-list li
{
    list-style: none;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.form_error
{
    color: red;
    font-weight: bold;
    margin-top: 0.2em;
    display: none;
}


@media (max-width: 850px)
{
    .pageTitle
    {
        flex-direction: column;
        padding-bottom: 0;
        box-shadow: none;
    }

    #navbar
    {
        flex-direction: column;
        margin-right: 0;
        width: 100%;
    }

    #header h2
    {
        margin-left: 0;
        text-align: center;
        padding: 0.2em 0 0.2em 0;
    }

    #navbar a {
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        margin-left: 0;
        border-radius: 0;
        width: 100%;
        text-align: center;
    }

    #main
    {
        flex-direction: column;
    }

    #text-area
    {
        width: 100%;
        height: 60vh;
    }

    #text-area h4 {
        font-size: 2em;
    }
    
    #text-area p {
        color: var(--white);
        font-size: 1em;
    }

    #communication
    {
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #desktop-img {
        display: none;
    }

    #mobile-img
    {
        display: block;
    }

    #communication p 
    {
        display: block;
    }

    #register-form 
    {
        width: 87%;
    }

    #buttons button
    {
        font-size: 1.1em;
        padding: 0.5em;
        border-radius: 0.7em;
        width: 7em;
    }
}

@media (max-width: 1300px) 
{
    #cards
    {
        flex-direction: column;
    }

    .tier-card 
    {
        width: 22em;
        height: 30em;
        margin-bottom: 4em;
        margin-right: 0em;
    }

    #title h2 
    {
        margin-right: 0;
    }
}